body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

#btn-home {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

table {
  margin: 0 auto; /* Centraliza a tabela horizontalmente */
}

td {
  text-align: center; /* Centraliza o texto dentro das células */
}




  